<footer class="footer mt-5">

    <div class="container">

        <div class="row text-center">

            <div class="col-12">

                <h4 class="footer-title">صيدلية الحياة</h4>

                <p class="footer-desc">
                    نظام احترافي لإدارة الصيدليات باستخدام Django.
                </p>

                <hr>

                <p class="mb-1">
                    © 2026 جميع الحقوق محفوظة
                </p>

                <p class="mb-0">
                    By/
                    <strong>Eng.Abeer AL-Mufti</strong>
                </p>

            </div>

        </div>

    </div>

</footer>